@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&family=Open+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: 'Noto Sans JP', sans-serif; }

body {
  display: flex;
  flex-direction: column;
  align-items: center; }

a {
  text-decoration: none; }

@media only screen and (max-width: 500px) {
  header {
    background-color: #DEE2E6;
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    box-shadow: 0px 16px 15px -6px rgba(0, 0, 0, 0.41); }
    header h3 {
      margin: 10px;
      color: #212529;
      font-size: 1rem; }
    header nav {
      position: absolute;
      top: 10vh;
      background-color: #DEE2E6;
      width: 100vw;
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      header nav a {
        width: 100vw;
        padding: 10px;
        font-size: 1.2rem;
        border-bottom: 1px solid #ADB5BD;
        margin-left: auto;
        margin-right: auto;
        color: #212529; }
        header nav a:hover {
          box-shadow: inset 0 -2px 0 0 #6C757D; } }

.quienSoy {
  background-color: #DEE2E6;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10vh; }
  .quienSoy .titulos h1 {
    margin-top: 10vh;
    font-size: 2rem;
    color: #212529; }
  .quienSoy .titulos h2 {
    font-size: 1rem;
    color: #343A40; }
  .quienSoy .imgPerfil {
    margin-top: 7vh;
    width: 75%; }
    .quienSoy .imgPerfil p {
      font-size: 1.2rem;
      text-align: center; }

/* Extra small devices (phones, 600px and down) */
.skills {
  background-color: #343A40;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .skills .der {
    width: 90%;
    display: flex;
    flex-direction: column;
    height: 50%;
    align-items: center; }
    .skills .der h2 {
      margin-top: 8vh;
      font-size: 2rem;
      padding: 10px; }
    .skills .der .logosSkills {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      .skills .der .logosSkills img {
        width: 60px;
        margin: 5px; }
  .skills .izq {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .skills .izq .btnCanvas {
      display: flex;
      margin-top: 10px; }
      .skills .izq .btnCanvas .draw {
        background-color: #DEE2E6;
        border-radius: 10px;
        box-shadow: 0px 16px 15px -6px rgba(0, 0, 0, 0.41);
        margin: 5px 10px; }
        .skills .izq .btnCanvas .draw p {
          padding: 5px 10px; }

.contacto {
  background-color: #DEE2E6;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center; }
  .contacto .der {
    width: 90%;
    display: flex;
    flex-direction: column;
    height: 40%;
    align-items: center;
    justify-content: center; }
    .contacto .der p {
      text-align: center;
      font-size: 1.1rem;
      margin-right: 20px; }
  .contacto .izq {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%; }
    .contacto .izq h2 {
      font-size: 2rem;
      padding: 10px; }
    .contacto .izq h3 {
      font-size: 1rem; }
    .contacto .izq .logosRedes {
      display: flex; }
      .contacto .izq .logosRedes img {
        width: 60px;
        margin: 5px; }

.proyectos {
  background-color: #343A40;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .proyectos h2 {
    font-size: 2rem;
    padding: 10px; }
  .proyectos .imgProyectos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .proyectos .imgProyectos a {
      width: 70%;
      display: flex;
      justify-content: center; }
      .proyectos .imgProyectos a img {
        width: 80%;
        margin-top: 1rem; }
        .proyectos .imgProyectos a img:hover {
          box-shadow: 0px 16px 15px -6px rgba(0, 0, 0, 0.41); }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 501px) {
  header {
    background-color: #DEE2E6;
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed; }
    header .esconder {
      display: none; }
    header h3 {
      margin-left: 20px;
      font-size: 1.2rem; }
    header nav {
      display: flex !important;
      margin-right: 20px; }
      header nav a {
        margin-right: 15px;
        color: #212529;
        font-size: 1rem;
        transition-timing-function: ease-in;
        transition: .6s; }
        header nav a:hover {
          box-shadow: inset 0 -2px 0 0 #6C757D; }
  .quienSoy {
    height: auto; }
    .quienSoy .titulos h1 {
      margin-top: 2vh;
      font-size: 2.5rem; }
    .quienSoy .imgPerfil {
      margin: 7vh;
      width: 60%;
      display: flex;
      justify-content: center; }
      .quienSoy .imgPerfil img {
        width: 65%;
        height: 65%; }
  .skills {
    height: auto; }
    .skills .izq canvas {
      margin-top: 7vh;
      margin-bottom: 2vh; }
    .skills .izq .btnCanvas {
      margin-bottom: 7vh; }
  .contacto {
    height: auto; }
    .contacto .der {
      margin-bottom: 7vh; } }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1024px) {
  header {
    background-color: #DEE2E6;
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 96vw;
    max-width: 1200px; }
    header .esconder {
      display: none; }
    header h3 {
      font-size: 1.5rem;
      margin-left: 25px; }
    header nav a {
      margin-right: 15px;
      color: #212529;
      font-size: 1rem;
      transition-timing-function: ease-in;
      transition: .6s; }
      header nav a:hover {
        box-shadow: inset 0 -2px 0 0 #6C757D; }
  .quienSoy {
    width: 96vw;
    height: 100vh;
    max-width: 1200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 12vh; }
    .quienSoy .titulos h1 {
      margin-top: 10vh;
      font-size: 5rem; }
    .quienSoy .titulos h2 {
      font-size: 1.5rem; }
    .quienSoy .imgPerfil {
      align-self: center;
      margin-top: 10vh;
      width: 50%; }
  .skills {
    width: 96vw;
    max-width: 1200px;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center; }
    .skills .der {
      width: 75%;
      margin-right: 30px; }
      .skills .der .logosSkills img {
        width: 80px; }
    .skills .izq {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .skills .izq .draw {
        background-color: #DEE2E6;
        border-radius: 10px;
        box-shadow: 0px 16px 15px -6px rgba(0, 0, 0, 0.41);
        margin-bottom: 10px; }
        .skills .izq .draw p {
          padding: 5px 10px; }
        .skills .izq .draw :hover {
          background-color: #212529;
          border-radius: 10px;
          box-shadow: 0px 16px 15px -6px rgba(0, 0, 0, 0.41); }
  .contacto {
    width: 96vw;
    max-width: 1200px;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center; }
    .contacto .der {
      width: 50%;
      height: 100%;
      margin-top: 10vh; }
    .contacto .izq .logosRedes {
      flex-wrap: wrap; }
      .contacto .izq .logosRedes img {
        width: 80px; }
  .proyectos {
    background-color: #343A40;
    width: 96vw;
    max-width: 1200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .proyectos h2 {
      font-size: 2rem;
      padding: 10px; }
    .proyectos .imgProyectos {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .proyectos .imgProyectos a {
        width: 20%;
        display: flex;
        justify-content: center; }
        .proyectos .imgProyectos a img {
          width: 80%; } }

.canvas {
  background-color: #DEE2E6; }
