

    header{
        background-color: $gainsboro;
        width:100vw;
        height: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        position: fixed;
        

        h3{
            margin: 10px;
            color:$eerieBlack;
            font-size: 1rem;
        }

        nav{
            align-self: center;
            a{
                margin-right: 10px;
                color: $eerieBlack;
                font-size: 1rem;
            }
        }
        
        
    }
    
   

   