
    .quienSoy{
        background-color: $gainsboro;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 10vh;

            .titulos{
                h1{
                    margin-top: 10vh;
                    font-size: 2rem;
                    color: $eerieBlack;
                }
                h2{
                    font-size: 1rem;
                    color: $onyx;
                }
            }

            .imgPerfil{
                margin-top: 7vh;
                width: 75%;
                p{
                    font-size: 1.2rem;
                    text-align: center;
                }
                
                // img{
                //     width:100%;
                // }
            }
    
    }


