/* Extra small devices (phones, 600px and down) */

   
    .skills{
        background-color: $onyx;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .der{
            width: 90%;
            display: flex;
            flex-direction: column;
            height: 50%;
            align-items: center;
            h2{ 
                margin-top: 8vh;
                font-size: 2rem;
                padding: 10px;
            }
            .logosSkills{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                img{
                    width:60px;
                    margin: 5px;
                }
            }
        }

        // .izq{
        //     display: flex;
        //     justify-content: center;
        //     width: 90%;
            .izq{
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .btnCanvas{
                    display: flex;
                    margin-top: 10px;
                    
                    
                .draw{
                    background-color: $gainsboro;
                    border-radius: 10px;
                    box-shadow: 0px 16px 15px -6px rgba(0,0,0,0.41);
                    margin: 5px 10px;
                    
                    p{
                        padding: 5px 10px;
                    }
               
                }
            }
            
        }
    }
    