$gainsboro:#DEE2E6;
$lichtGray:#CED4DA;
$cadetBlueCrayola:#ADB5BD;
$sonicSilver:#6C757D;
$davisGray:#495057;
$onyx:#343A40;
$eerieBlack:#212529;
$noto: 'Noto Sans JP', sans-serif;
$open: 'Open Sans', sans-serif;